
body {
    text-align: center;
    font-family: Arial sans serif;
}
.choices img {
    width: 60px ;
    height: 60px;
    margin:20px ;
    cursor: pointer ;
    transition: transform 0.2s;
}
.choices img:hover {
    transform: scale(1,1);
}
.countdown {
    font-size: 48px;
    margin-top: 30px;
    font-weight: bold;
}
.result{
    margin-top: 30px;
}
.result-images {
    display: flex;
    justify-content:center ;
    gap: 30px;
    margin-top:20px;
}
#player-img {
    width: 50px;
}
#computer-img {
    width: 50px;
}
button {
    background-color: lightgreen;
    padding: 5px;
}
ul {
    list-style-type: none;
    display: flex;
}
li {
    margin: 5px;
}
a {
    text-decoration: none;
    color: darkgreen;
}